Avance 1

In [4]:

#cargo librerias que voy necesitando
import numpy as np
import pandas as pd

In [5]:
#Leo el archivo que voy a utilizar 
data=pd.read_csv("d:/Users/usuario/Desktop/Modulo 4-henry/data_latinoamerica.csv")

Lo primero que hago es conocer el dataset, por esta razon veo todas las columnas del mismo.

In [6]:
print(data.columns)

Index(['location_key', 'date', 'country_code', 'country_name', 'new_confirmed',
       'new_deceased', 'cumulative_confirmed', 'cumulative_deceased',
       'cumulative_vaccine_doses_administered', 'population',
       'population_male', 'population_female', 'population_rural',
       'population_urban', 'population_density', 'human_development_index',
       'population_age_00_09', 'population_age_10_19', 'population_age_20_29',
       'population_age_30_39', 'population_age_40_49', 'population_age_50_59',
       'population_age_60_69', 'population_age_70_79',
       'population_age_80_and_older', 'gdp_usd', 'gdp_per_capita_usd',
       'latitude', 'longitude', 'area_sq_km', 'smoking_prevalence',
       'diabetes_prevalence', 'infant_mortality_rate', 'nurses_per_1000',
       'physicians_per_1000', 'average_temperature_celsius',
       'minimum_temperature_celsius', 'maximum_temperature_celsius',
       'rainfall_mm', 'relative_humidity', 'population_largest_city',
       'area_rural_sq_km', 'area_urban_sq_km', 'life_expectancy',
       'adult_male_mortality_rate', 'adult_female_mortality_rate',
       'pollution_mortality_rate', 'comorbidity_mortality_rate',
       'new_recovered', 'cumulative_recovered'],
      dtype='object')

In [7]:
#Me muestra los primeros 10 datos de la base de datos
data.head(10)

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,...,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,new_recovered,cumulative_recovered
0,AR,2020-01-01,AR,Argentina,3.0,0.0,3.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
1,AR,2020-01-02,AR,Argentina,14.0,0.0,17.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
2,AR,2020-01-03,AR,Argentina,3.0,0.0,20.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
3,AR,2020-01-04,AR,Argentina,7.0,0.0,27.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
4,AR,2020-01-05,AR,Argentina,5.0,0.0,32.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
5,AR,2020-01-06,AR,Argentina,9.0,0.0,41.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
6,AR,2020-01-07,AR,Argentina,4.0,0.0,45.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
7,AR,2020-01-08,AR,Argentina,3.0,0.0,48.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
8,AR,2020-01-09,AR,Argentina,0.0,0.0,48.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
9,AR,2020-01-10,AR,Argentina,1.0,0.0,49.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN

Para saber el tipo de dato de cada columna

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12216057 entries, 0 to 12216056
Data columns (total 50 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   location_key                           object
 1   date                                   object
 2   country_code                           object
 3   country_name                           object
 4   new_confirmed                          float64
 5   new_deceased                           float64
 6   cumulative_confirmed                   float64
 7   cumulative_deceased                    float64
 8   cumulative_vaccine_doses_administered  float64
 9   population                             float64
 10  population_male                        float64
 11  population_female                      float64
 12  population_rural                       float64
 13  population_urban                       float64
 14  population_density                     float64
 15  human_development_index                float64
 16  population_age_00_09                   float64
 17  population_age_10_19                   float64
 18  population_age_20_29                   float64
 19  population_age_30_39                   float64
 20  population_age_40_49                   float64
 21  population_age_50_59                   float64
 22  population_age_60_69                   float64
 23  population_age_70_79                   float64
 24  population_age_80_and_older            float64
 25  gdp_usd                                float64
 26  gdp_per_capita_usd                     float64
 27  latitude                               float64
 28  longitude                              float64
 29  area_sq_km                             float64
 30  smoking_prevalence                     float64
 31  diabetes_prevalence                    float64
 32  infant_mortality_rate                  float64
 33  nurses_per_1000                        float64
 34  physicians_per_1000                    float64
 35  average_temperature_celsius            float64
 36  minimum_temperature_celsius            float64
 37  maximum_temperature_celsius            float64
 38  rainfall_mm                            float64
 39  relative_humidity                      float64
 40  population_largest_city                float64
 41  area_rural_sq_km                       float64
 42  area_urban_sq_km                       float64
 43  life_expectancy                        float64
 44  adult_male_mortality_rate              float64
 45  adult_female_mortality_rate            float64
 46  pollution_mortality_rate               float64
 47  comorbidity_mortality_rate             float64
 48  new_recovered                          float64
 49  cumulative_recovered                   float64
dtypes: float64(46), object(4)
memory usage: 4.6+ GB

Comprueba que el dataset cargado tiene la cantidad de registros y columnas especificadas

In [9]:
#Me muestra cuantas filas y columnas tengo ( para corroborar que es correcto el dataset con el que estoy trabajando)
data.shape

(12216057, 50)

In [7]:
#para saber con que tipo de dato estoy trabajando
type(data)

pandas.core.frame.DataFrame

In [10]:
data['country_name']

0           Argentina
1           Argentina
2           Argentina
3           Argentina
4           Argentina
              ...
12216052    Venezuela
12216053    Venezuela
12216054    Venezuela
12216055    Venezuela
12216056    Venezuela
Name: country_name, Length: 12216057, dtype: object

In [11]:
#Por si quiero ver los distintos paises que tiene el dataset
data['country_name'].unique()

array(['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia',
       'Costa Rica', 'Cuba', 'Dominican Republic', 'Ecuador', 'Guatemala',
       'Honduras', 'Mexico', 'Nicaragua', 'Panama', 'Peru', 'Puerto Rico',
       'Paraguay', 'El Salvador', 'Uruguay', 'Venezuela'], dtype=object)

Selecciona los países donde se expandirán: Colombia, Argentina, Chile, México, Perú y Brasil.

In [12]:
#creo una lista con los paises seleccionados
Paises_seleccionados = ["Argentina", "Chile", "Colombia", "Mexico", "Peru" , "Brazil"]
#Luego creo una mascara con la funcion isin que filtra los paises seleccionados y los guarda en data_latinoamerica
data_latinoamerica = data[data['country_name'].isin(Paises_seleccionados)]

Verifico que me hayan quedado los 5 paises seleccionados

In [13]:
data_latinoamerica['country_name'].unique()

array(['Argentina', 'Brazil', 'Chile', 'Colombia', 'Mexico', 'Peru'],
      dtype=object)

Filtra los datos en fechas mayores a 2021-01-01.

In [14]:
#La fecha esta en objet, entonces lo cambiamos a formato Date antes de filtrar 
data_latinoamerica['date']=pd.to_datetime(data_latinoamerica['date'])
data_latinoamerica['date']

C:\Users\usuario\AppData\Local\Temp\ipykernel_15540\3930735150.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_latinoamerica['date']=pd.to_datetime(data_latinoamerica['date'])

0          2020-01-01
1          2020-01-02
2          2020-01-03
3          2020-01-04
4          2020-01-05
              ...
12136772   2022-09-13
12136773   2022-09-14
12136774   2022-09-15
12136775   2022-09-16
12136776   2022-09-17
Name: date, Length: 11970289, dtype: datetime64[ns]

In [15]:
# filtramos los datos mayores al 01/01/2021 y .shape para que me muestre ctas filas y columnas tengo 

data_latinoamerica = data[data["date"] > "2021-01-01" ]
data_latinoamerica.shape

(7692048, 50)

Bloque 1- Limpieza Preliminar

Contar valores nulos

In [17]:
# 1- Contamos los valores nulos de las columnas
valores_nulos = data_latinoamerica.isnull().sum() #cuenta los valores faltantes (NaN).
print("Cantidad de valores nulos por columna:")
print(valores_nulos)

Cantidad de valores nulos por columna:
location_key                                   0
date                                           0
country_code                                   0
country_name                                   0
new_confirmed                            3298688
new_deceased                             3308615
cumulative_confirmed                     3298688
cumulative_deceased                      3308615
cumulative_vaccine_doses_administered    7425051
population                                335088
population_male                           707616
population_female                         707616
population_rural                         7679568
population_urban                         7679568
population_density                       7679568
human_development_index                  4221984
population_age_00_09                      923520
population_age_10_19                      923520
population_age_20_29                      923520
population_age_30_39                      923520
population_age_40_49                      923520
population_age_50_59                      923520
population_age_60_69                      923520
population_age_70_79                      923520
population_age_80_and_older               923520
gdp_usd                                  7679568
gdp_per_capita_usd                       7678944
latitude                                  265824
longitude                                 265824
area_sq_km                               1186224
smoking_prevalence                       7682688
diabetes_prevalence                      7679568
infant_mortality_rate                    7680192
nurses_per_1000                          7680192
physicians_per_1000                      7680816
average_temperature_celsius               367599
minimum_temperature_celsius               367671
maximum_temperature_celsius               367653
rainfall_mm                               420570
relative_humidity                         368109
population_largest_city                  7679568
area_rural_sq_km                         7680816
area_urban_sq_km                         7680816
life_expectancy                          7679568
adult_male_mortality_rate                7679568
adult_female_mortality_rate              7679568
pollution_mortality_rate                 7680192
comorbidity_mortality_rate               7680192
new_recovered                            6626363
cumulative_recovered                     6626983
dtype: int64

Contar valores no nulos

In [18]:
# 2- Contamos los valores no nulos que tienen las columnas 
valores_no_nulos = data_latinoamerica.notnull().sum() ##cuenta los valores presentes (datos válidos).
print("Cantidad de valores no nulos por columna:")
print(valores_no_nulos)

Cantidad de valores no nulos por columna:
location_key                             7692048
date                                     7692048
country_code                             7692048
country_name                             7692048
new_confirmed                            4393360
new_deceased                             4383433
cumulative_confirmed                     4393360
cumulative_deceased                      4383433
cumulative_vaccine_doses_administered     266997
population                               7356960
population_male                          6984432
population_female                        6984432
population_rural                           12480
population_urban                           12480
population_density                         12480
human_development_index                  3470064
population_age_00_09                     6768528
population_age_10_19                     6768528
population_age_20_29                     6768528
population_age_30_39                     6768528
population_age_40_49                     6768528
population_age_50_59                     6768528
population_age_60_69                     6768528
population_age_70_79                     6768528
population_age_80_and_older              6768528
gdp_usd                                    12480
gdp_per_capita_usd                         13104
latitude                                 7426224
longitude                                7426224
area_sq_km                               6505824
smoking_prevalence                          9360
diabetes_prevalence                        12480
infant_mortality_rate                      11856
nurses_per_1000                            11856
physicians_per_1000                        11232
average_temperature_celsius              7324449
minimum_temperature_celsius              7324377
maximum_temperature_celsius              7324395
rainfall_mm                              7271478
relative_humidity                        7323939
population_largest_city                    12480
area_rural_sq_km                           11232
area_urban_sq_km                           11232
life_expectancy                            12480
adult_male_mortality_rate                  12480
adult_female_mortality_rate                12480
pollution_mortality_rate                   11856
comorbidity_mortality_rate                 11856
new_recovered                            1065685
cumulative_recovered                     1065065
dtype: int64

Verificamos el tipo de elemento que tienen las columnas location_key y country code y country name

In [21]:
columnas_relevantes = ['location_key', 'country_code', 'country_name']
datos_unicos = data_latinoamerica[columnas_relevantes].drop_duplicates()

print(datos_unicos)

         location_key country_code country_name
367                AR           AR    Argentina
1358             AR_A           AR    Argentina
2349         AR_A_007           AR    Argentina
3340         AR_A_014           AR    Argentina
4331         AR_A_021           AR    Argentina
...               ...          ...          ...
12211469         VE_U           VE    Venezuela
12212460         VE_V           VE    Venezuela
12213451         VE_X           VE    Venezuela
12214442         VE_Y           VE    Venezuela
12215433         VE_Z           VE    Venezuela

[12327 rows x 3 columns]

realizamos un conteo de los valores unicos de la columna location key

In [21]:
data_latinoamerica["location_key"].value_counts()

location_key
AR          624
AR_A        624
AR_A_007    624
AR_A_014    624
AR_A_021    624
           ...
VE_U        624
VE_V        624
VE_X        624
VE_Y        624
VE_Z        624
Name: count, Length: 12327, dtype: int64

Podemos apreciar la cantidad de valores repetidos entro de estas filas, por esta razon filtramos la columna 'location_key' por los siguientes valores "AR", "BR", "CO", "CL", "MX", "PE", que son los valores por país dejando de lado el analisis perticular de cada region dentro de estos.

In [24]:
# Primer filtro: quedarse solo con los países de interés
data_latinoamerica = data_latinoamerica[data_latinoamerica["country_name"].isin(Paises_seleccionados)]
data_latinoamerica

# Segundo filtro: quedarse solo con los datos agregados a nivel nacional
data_latinoamerica = data_latinoamerica[data_latinoamerica["location_key"].isin(["AR", "BR", "CO", "CL", "MX", "PE"])]
print(data_latinoamerica)

         location_key        date country_code country_name  new_confirmed  \
367                AR  2021-01-02           AR    Argentina         7767.0
368                AR  2021-01-03           AR    Argentina         4934.0
369                AR  2021-01-04           AR    Argentina        13953.0
370                AR  2021-01-05           AR    Argentina        14085.0
371                AR  2021-01-06           AR    Argentina        14496.0
...               ...         ...          ...          ...            ...
10253872           PE  2022-09-13           PE         Peru         1150.0
10253873           PE  2022-09-14           PE         Peru            NaN
10253874           PE  2022-09-15           PE         Peru            NaN
10253875           PE  2022-09-16           PE         Peru            NaN
10253876           PE  2022-09-17           PE         Peru            NaN

          new_deceased  cumulative_confirmed  cumulative_deceased  \
367              166.0             1670634.0              46688.0
368              157.0             1675568.0              46845.0
369              157.0             1689521.0              47002.0
370              160.0             1703606.0              47162.0
371              131.0             1718102.0              47293.0
...                ...                   ...                  ...
10253872          22.0             4127612.0             216173.0
10253873           NaN                   NaN                  NaN
10253874           NaN                   NaN                  NaN
10253875           NaN                   NaN                  NaN
10253876           NaN                   NaN                  NaN

          cumulative_vaccine_doses_administered  population  ...  \
367                                     20334.0  44938712.0  ...
368                                     20529.0  44938712.0  ...
369                                     25164.0  44938712.0  ...
370                                     29852.0  44938712.0  ...
371                                     34162.0  44938712.0  ...
...                                         ...         ...  ...
10253872                                    NaN  29381884.0  ...
10253873                                    NaN  29381884.0  ...
10253874                                    NaN  29381884.0  ...
10253875                                    NaN  29381884.0  ...
10253876                                    NaN  29381884.0  ...

          population_largest_city  area_rural_sq_km  area_urban_sq_km  \
367                    15057273.0         2690269.0           55032.0
368                    15057273.0         2690269.0           55032.0
369                    15057273.0         2690269.0           55032.0
370                    15057273.0         2690269.0           55032.0
371                    15057273.0         2690269.0           55032.0
...                           ...               ...               ...
10253872               10554712.0         1256339.0           16425.0
10253873               10554712.0         1256339.0           16425.0
10253874               10554712.0         1256339.0           16425.0
10253875               10554712.0         1256339.0           16425.0
10253876               10554712.0         1256339.0           16425.0

          life_expectancy  adult_male_mortality_rate  \
367                76.520                    147.086
368                76.520                    147.086
369                76.520                    147.086
370                76.520                    147.086
371                76.520                    147.086
...                   ...                        ...
10253872           76.516                    146.370
10253873           76.516                    146.370
10253874           76.516                    146.370
10253875           76.516                    146.370
10253876           76.516                    146.370

          adult_female_mortality_rate  pollution_mortality_rate  \
367                            79.483                      26.6
368                            79.483                      26.6
369                            79.483                      26.6
370                            79.483                      26.6
371                            79.483                      26.6
...                               ...                       ...
10253872                       84.815                      63.9
10253873                       84.815                      63.9
10253874                       84.815                      63.9
10253875                       84.815                      63.9
10253876                       84.815                      63.9

          comorbidity_mortality_rate  new_recovered  cumulative_recovered
367                             15.8            NaN                   NaN
368                             15.8            NaN                   NaN
369                             15.8            NaN                   NaN
370                             15.8            NaN                   NaN
371                             15.8            NaN                   NaN
...                              ...            ...                   ...
10253872                        12.6            NaN                   NaN
10253873                        12.6            NaN                   NaN
10253874                        12.6            NaN                   NaN
10253875                        12.6            NaN                   NaN
10253876                        12.6            NaN                   NaN

[3744 rows x 50 columns]

Con esto nos aseguramos de que los datos sean a nivel nacional, eliminando los valores redundantes de provincias o regiones.
Después de esto ya tiene sentido eliminar location_key y country_code, porque country_name alcanza para identificar cada país. Entonces procedemos con la eliminacion de las 2 columnas.

In [23]:
# eliminamos las columnas 'location_key' y 'country_code'
data_latinoamerica = data_latinoamerica.drop(columns=['location_key', 'country_code'])

In [24]:
#verificamos la cantidad de datos que nos quedaron 
data_latinoamerica.shape

(3744, 48)

Se rellenan los valores faltantes (NaN) de las columnas new_recivered, new_deceased y new_confirmed con ceros

In [25]:
# Rellenar los valores nulos en las columnas 'new_recovered', 'new_deceased' y 'new_confirmed' con ceros
data_latinoamerica['new_recovered'] = data_latinoamerica['new_recovered'].fillna(0)
data_latinoamerica['new_deceased'] = data_latinoamerica['new_deceased'].fillna(0)
data_latinoamerica['new_confirmed'] = data_latinoamerica['new_confirmed'].fillna(0)

Ademas completamos la columna new_recovered con el promedio de cada pais para mantener coherencia y diferencias entre paises

In [25]:
# Calcula el promedio de 'new_recovered' por país
promedio_recuperados_por_pais = data_latinoamerica.groupby('country_name')['new_recovered'].mean()

# Rellena los valores nulos en 'new_recovered' con el promedio específico para cada país
for pais in data_latinoamerica['country_name'].unique():
    mask = (data_latinoamerica['country_name'] == pais)
    data_latinoamerica.loc[mask, 'new_recovered'].fillna(promedio_recuperados_por_pais[pais], inplace=True)

# Verifica si los valores nulos se han llenado correctamente
nulos_new_recovered = data_latinoamerica['new_recovered'].isnull().sum()
print("Cantidad de valores nulos en 'new_recovered' después de llenarlos:", nulos_new_recovered)

Cantidad de valores nulos en 'new_recovered' después de llenarlos: 2116

Guardamos el archivo con la limpieza que realizamos

In [26]:
# Guardamos el dataset ya transformado
data_latinoamerica.to_csv('data_latinoamerica_clean.csv', index=False)